.online-box{
    width:32%; float: left; 
    .online-tab{margin-right:20px; background:#fff;}
    .tab-online{height: 510px; overflow-y:auto;}
    .online-circle{width:14px;height:14px;.borderRadius(7px,7px,7px,7px); overflow: hidden; background:#20C41C;
    margin: 0 auto;}
}
.tabTitle{
    height:50px;line-height: 50px;font-size:20px;color:#fff; background:@basecolor; padding: 0 20px;
    .borderRadius(5px,5px,0,0);
    span{font-size:16px;color:#fff;}
}
.sa-container-tab{margin-top: 20px; padding-bottom: 50px;}
.statistics-container{margin-top: 80px; overflow: hidden;}
.experiment-box{float: left;width:68%;background:#fff;
   .tab-experiment{height: 510px;}
}
.sta-box{ margin-left: -8px; margin-right: -8px;
   .col{width:25%;float: left; position: relative;}
   .col img{width:100%}
   .col-info{margin: 0 10px;}
   .data-info{display: table; width: 100%; height:100%; position: absolute;left:0px;top:0px}
   .data-col{display: table-cell; vertical-align: middle;}
   .data-1{font-size:24px;}
   .data-2{font-size:48px; height:55px}
   .data-1,.data-2{color:#fff; padding:0 40px}
}

.pageTab{
     padding-bottom:20px;
    .fl{padding-top: 20px;}
    .sel-box{margin-right: 20px;display: inline-block; vertical-align: middle; font-size: 16px;}
    .fr{
        padding-top:20px;
        .abtn{margin-right: 20px;}
        .d-serach{width:280px;height:38px;border:1px solid @basecolor; display: inline-block; vertical-align: middle;.borderRadius(5px,5px,5px,5px);
        padding-right: 48px; padding-left: 20px; position: relative;}
        input{background: 0 none; height: 38px;line-height: 38px; font-size:16px;}
        .searchBtn{width:38px;height: 38px;display: block; position: absolute;right:0px;top:0px;
        background: url(../img/icon_search.png) center no-repeat;}
        
    }
}
.container-userList{padding-bottom: 50px;}
.tablex_box{
  background:#fff;.borderRadius(5px,5px,5px,5px); overflow: hidden;
   .atab-btn{color:@basecolor;}
}
.list_box{background:0 none; overflow: hidden;
.l_box{margin-left: -10px; margin-right: -10px;min-height:600px;}
.tab-pagination{padding: 30px 0;}
}
.default_List{
    >li{width:16.666%;display: inline-block; margin-bottom: 20px;.box-shadow( 0px 3px 10px 0px rgba(0, 0, 0, 0.1));}
   .p_id{font-size: 18px;color:@tabcolor; text-align:center;}
   .d-icon{width:80px;height: 80px;background: url(../../assets/img/icon_vmachine.png) center no-repeat; margin: 0 auto 20px auto;}
   .btnbox{text-align: center; padding-top: 20px;}
   .info-box{background:#fff; margin: 0 10px; padding: 20px 0;.borderRadius(5px,5px,5px,5px)}
   .machbtn{
       background:@machbtncolor;width:120px; 
       span{background: url(../../assets/img/icon_play.png)left center no-repeat; padding-left:20px;}
    } 
}

/*相关弹窗*/
.dialog-footer {
    text-align: center; width:100%;
    .el-button{margin: 0 10px}
    .btnDefault{cursor: pointer;margin: 0 10px;border:0 none}
    .btnDefault:hover{background: @btnHover;}
}
.confirm_dialog_body{
    .dialog_mess{font-size: 18px; color: @tabcolor; text-align: center; 
       .span_icon{display: inline-block; padding:10px 0;}
       .icon_waring{background: url(../img/icon_warning.png) left center no-repeat; padding-left: 56px;}
       .icon_success{background: url(../img/icon_success.png) left center no-repeat; padding-left: 56px;}
    }

    .upload_person{font-size: 18px;color: @tabcolor; text-align: center;}

    .a_upload{
        border:1px solid @basecolor;white-space: nowrap; display: inline-block; vertical-align: middle; padding:6px 50px;.borderRadius(5px,5px,5px,5px);
        span{background: url(../img/icon_upload.png) left center no-repeat; display: inline-block; vertical-align: middle; padding: 5px 0 5px 30px;}
    }
   

}
.alignCenter{text-align: center;}


/*页面title*/
.pageTitle{
font-size: 18px; color:@hnavcolor; padding: 20px 0;
a{cursor: pointer;}
span{color:@tabcolor}
}

/*新建课程*/
.newCourse_box{
    .col_title{padding:13px 20px; background: @basecolor; font-size: 18px;color: #ffff;.borderRadius(5px,5px,5px,5px)}
    .formMain{width: 800px;margin: 0 auto; font-size: 16px;padding-top:20px;}
    input,textarea{font-size: 16px;}
    .upload_mess{display: inline-block; font-size: 16px; color:@hnavcolor; vertical-align: bottom;}
    .a_upload{
        background: #fff;
        .icon{width:60px;height:60px;margin: 0 auto; display: block; background: url(../img/add_pic.png) center  no-repeat; margin-top: 35px;
         background-size: 56px 56px; -webkit-background-size: 56px 56px; 
        }
        width:300px;height: 180px; display: inline-block; border:1px solid @border; .borderRadius(5px,5px,5px,5px);
        span{font-size: 18px;color: @hnavcolor;;}
    }
    .PicFm{
        width:300px;height: 180px; display: inline-block; vertical-align: top; margin-right:20px;
        img{width:100%;height:100%;}
    }
}
/*新建课程章节*/
.addChapter{
    li{margin-top: 20px;}
    .din{background: #fff;.borderRadius(5px,5px,5px,5px); position: relative;}
    input{width:100%; line-height:50px;font-size: 16px;height: 50px; padding-left: 20px;padding-right: 60px;border:1px solid @border}
    input:focus{border:1px solid @focuscolor}
    .btn_add{width:22px;height: 22px;display: block; position: absolute; background: url(../img/i_add.png) center no-repeat; right:40px;top:50%;margin-top: -11px;}
    .btn_del{width:22px;height: 22px;display: block; position: absolute; background: url(../img/icon_del.png) center no-repeat; right:10px;top:50%;margin-top: -11px;}
    .input_section{height: 32px;line-height: 32px;}
    .d-addchapter{padding-bottom: 20px;}
    .btnbox{text-align: center; padding: 20px 0;}
    .a-addChaper{border:1px solid @selectline; display: inline-block;padding:5px 30px; font-size: 18px;color:@selectline;}

    .sectionBox{padding-left: 42px; padding-top: 20px;
       .line1{width:21px; height: 1px;position: absolute;left:-21px;top:50%; background:@border; margin-top: -0.5px;}
       .line2{width:1px; height:51px;position: absolute;left:21px;top:-35px; background:@border;}
    }
        
    .sectionBox_first{
        .line2{height: 36px;top:-20px;}
    }
    .chapter_box{position: relative;}

    .subsection_box{
        padding-top:20px; padding-left: 42px; position: relative;
        .line1{top:36px;left:21px}
        .line2{height: 36px;top:0px; left: 21px;}
    }
    .subSectionBox{
        position: relative;
    }
    .sub_sectionBox{
        
        .line1{left:-21px;top:16px}
    }

   

}

/*镜像列表*/
.imageReposittory_table{
    background:@selectline;.borderRadius(0px,0px,0px,0px);
    .el-table td{color: @basecolor;}
}

.dialog_add_body{
    width:500px;margin: 0 auto;
    .fileList_name{
        padding-bottom: 20px;
        li{line-height: normal;}
    }
    .a_upload{border: 1px solid @border; width: 100%; padding: 0px; display: block;}
}

/*列表*/
.list_box{ overflow: hidden;
    .list_ul{ margin-left: -10px; margin-right: -10px;
        li{width:20%;min-height: 40px;float: left; margin-bottom: 20px; }    
        .pic{width:100%; margin-bottom: 10px;
          .pic_box{padding-bottom:50%; background:blanchedalmond;.borderRadius(5px,5px,0,0);}
        }   
        .info{margin: 0 10px; min-height: 30px;background: @fontfff; padding:0px 0 20px 0; position:relative;
          .borderRadius(5px,5px,5px,5px); overflow: hidden;
        }
        .padt20{padding-top: 20px;}
        .p-text{font-size: 16px;color:@fontColor; text-align: center; padding: 2px 8px;}
        .icon{width: 20px;height: 20px;display: block; position:absolute;top:10px}
        .icon_close{background: url(../img/white_close.png) center no-repeat;right:15px}
        .icon_set{background: url(../img/n_set.png) center no-repeat;right:0px}
        .c_icon{width:58px;height: 58px;margin:0 auto; display: block;}
        .icon_video{background: url(../img/courseware_video.png) center no-repeat;}
        .icon_pdf{background: url(../img/courseware_pdf.png) center no-repeat;}
        .p-name{padding:12px 0;}
        .line{margin: 0 30px; height: 2px; background: @linecoloe; margin-bottom: 10px;}

        .icon_radio{background: url(../img/rad1.png) center no-repeat; right: 15px;}
        .icon_radio_h{background: url(../img/radh1.png) center no-repeat;}
    }

    .coursewareLibrary_ul{
        .icon_close{background: url(../img/blue_close.png) center no-repeat;right:15px}
    }
}

.experimentLibrary_box,.coursewareLibrary_box{
    .list_box{min-height:600px;}
}

.nopaddingBottom{padding-bottom: 0px;}
.div_checked{
    border-bottom: 1px solid @linecoloe; padding-bottom: 8px; margin-bottom:20px;
    span{display: inline-block; margin-bottom: 12px; margin-right:20px; line-height: 40px; background:#F0F0F0;
       font-size: 16px; padding: 0 18px; color:@tabcolor;.borderRadius(5px,5px,5px,5px);
       position: relative;
    }
    .icon{width: 20px;height: 20px;display: block; position:absolute;top:-10px}
    .icon_close{background: url(../img/n_close.png) center no-repeat;right:-10px}
}


@media screen and (max-width:1470px){
    .default_List{
        .p_id{font-size: 16px;}
    }
}

@media screen and (max-width:1470px){
    .default_List{
       >li{width:20%} 
       .p_id{font-size: 16px;}
    }
}
