
.container{width:1560px; margin: 0 auto;}


.pagewrap{width: 100%;height: 100%;;}
.pp_main{width:100%;height: 100%; padding-top: 75px;}

.pointer{cursor: pointer;}
@media screen and(max-width:1600px){
  .container{width:90%;} 
  .PP_header .container{width:100%; }
}

@media screen and(max-width:1200px){
  .pp_main{padding-top: 0px; height: auto;}
}
/*编辑器*/
.quill-editor .ql-editor{
    height:400px;
}

.quill-editor{
   // 复制这里的内容
  .ql-snow .ql-tooltip[data-mode="link"]::before {
    content: "请输入链接地址:";
  }
  .ql-snow .ql-tooltip.ql-editing a.ql-action::after {
    border-right: 0px;
    content: "保存";
    padding-right: 0px;
  }
  .ql-snow .ql-tooltip[data-mode="video"]::before {
    content: "请输入视频地址:";
  }
  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value="small"]::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value="small"]::before {
    content: "10px";
  }
  .ql-snow .ql-picker.ql-size .ql-picker-label::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item::before {
    content: "14px";
  }
  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value="large"]::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value="large"]::before {
    content: "18px";
  }
  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value="huge"]::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value="huge"]::before {
    content: "32px";
  }
  .ql-snow .ql-picker.ql-header .ql-picker-label::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item::before {
    content: "文本";
  }
  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="1"]::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
    content: "标题1";
  }
  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="2"]::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
    content: "标题2";
  }
  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="3"]::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
    content: "标题3";
  }
  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="4"]::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="4"]::before {
    content: "标题4";
  }
  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="5"]::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="5"]::before {
    content: "标题5";
  }
  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="6"]::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="6"]::before {
    content: "标题6";
  }
  .ql-snow .ql-picker.ql-font .ql-picker-label::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item::before {
    content: "标准字体";
  }
  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value="serif"]::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value="serif"]::before {
    content: "衬线字体";
  }
  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value="monospace"]::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value="monospace"]::before {
    content: "等宽字体";
  }
}

html,body{width:100%;height: 100%;}
body{background-size: cover;-webkit-background-size: cover;}
img{vertical-align: top;}
input{outline: none;}
.fl{float: left;}
.fr{float:right;}
body{background:#F3F4FA; min-width: 1200px;}
*{margin: 0px;padding:0px;}
ul,li{list-style: none;}



.clearfix:after,.clearfix:before{
  content: "";
  display: table;
}
.clearfix:after{
  clear: both;
}
.clearfix{
  *zoom: 1;
}

.textline1{white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

h1,h2,h3,h4,h5,h6{font-weight: normal;}
input{border:0 none; outline: none;}
a,a:hover{text-decoration: none;}
.tab-online{font-size:16px;color:@tabcolor;
  thead{
    tr,th{background:#F5F5F7; }
  }
  td,th.is-leaf{border-bottom: 0 none !important; font-weight: normal;}
  td,th{padding: 8px 0;text-align:center;}
}

.pagination-box{text-align: right; padding: 10px 0;
  .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
    background:@basecolor; color:#fff; 
  }
}
.tab-experiment{
  td{height: 58px;}
}
.el-table--border::after, .el-table--group::after, .el-table::before{background: 0 none;}

.btnDefault{width:100px;height:40px;display: inline-block;text-align:center; line-height: 40px;
  background:#006BFF;color:#fff;font-size:16px;.borderRadius(5px,5px,5px,5px)
}


/*表格居中对齐*/
.center-tab{
  td,th{text-align: center; font-size: 16px;}
}
.tab-userList{
  th{background: @basecolor;color:#fff;}
}

/*分页*/
.el-pagination.is-background .el-pager li:not(.disabled):hover{color:@basecolor}
.el-pager li.active{background:@basecolor}
.el-pagination.is-background .el-pager li:not(.disabled).active{background:@basecolor}
.el-pagination.is-background .el-pager li:not(.disabled).active:hover{color:#fff;}
.tab-pagination{text-align: right; padding:30px 30px;}
/*上传*/
.file-uploads.file-uploads-html4 input, .file-uploads.file-uploads-html5 label{cursor: pointer;}
.el-select-dropdown__item.selected{font-weight: normal;}

/*下拉*/
.el-select-dropdown .el-scrollbar{max-width: 260px;}

/*div表格垂直居中*/
.v-middle{display: table-cell; vertical-align:middle;}
/*课程详情scroll*/
.content_el-scrollbar{
  height:30%;
  .el-scrollbar__wrap{overflow-x: hidden;}
}

/*时间插件*/
.courseTime_box{
   .el-date-editor{width:300px}
}

/*课程详情学生列表*/
.student_tab{
  border: 1px solid #dcdcdc;.borderRadius(5px,5px,0,0);
  th,td{text-align:center;}
}

/*课程详情课程menu样式*/
.courseNav{
  .el-scrollbar__wrap{overflow-x: hidden;}
  
}


/*下拉*/
.el-select{
   .el-input__inner{border:1px solid @selectline}
   
}
.el-select .el-input.is-focus .el-input__inner{border-color: @basecolor}
.el-select-dropdown__item.selected{color: @basecolor;}

/*默认按钮颜色*/
.el-button--primary{background: @basecolor; border-color:@basecolor; min-width:100px;}
.el-button--primary:hover{background:@btnHover;border-color:@btnHover}

button:focus{border:0 none;outline: none;}
/*弹出框头部样式修改*/
.personDialog{
  .el-dialog__body{ padding-bottom:0px;}
  .el-dialog__footer{text-align: center;}
}

.el-dialog__header{
  background: @basecolor; padding:15px 20px; color:@fontfff;  position: relative;
  .el-icon-close{color: @fontfff; border:1px solid #fff;.borderRadius(50%,50%,50%,50%);padding:3px ;}
  .el-icon-close:hover{color: @fontfff;}
  .el-dialog__headerbtn{top:50%;margin-top: -12px;}
}
.el-table__header{
  width: 100% !important;
}
.el-table__body{
  width: 100% !important;
}

/*新建课程*/
.formMain{
  .el-form-item__label,.el-input,.el-textarea{
    font-size: 16px;
  }
}

/*镜像表格*/
.imageReposittory_table{
  .el-table{
    background: #F3F4FA;  border-collapse: collapse;border-left:1px solid @hnavcolor;border-right:1px solid @hnavcolor;color:@basecolor;}
  .el-table tr {
  background: #F3F4FA;;
  }
  .el-table td{border-bottom:1px solid @hnavcolor}
}
.no_imageReposittory_table{
  .el-table{border-bottom: 1px solid @hnavcolor;}
}
/*镜像分页*/
.imageReposittory_pagination{
  .el-input__inner{background: 0 none;}
}

/*镜像添加弹出框*/
.dialog_add_mirroring,.dialog_body_nopadding_bottom
{
  padding-bottom: 0px;
  .el-form-item__label{font-size: 16px;}
  .el-dialog__body{padding-bottom: 0px;}
  
  
}
.dialog_add_mirroring{
  .file-uploads{ display: block;}
}

/*相关弹窗*/
.dialog-footer {
  text-align: center;
  .el-button{margin: 0 10px}
  .btnDefault{cursor: pointer;margin: 0 10px;border:0 none}
  .btnDefault:hover{background: @btnHover;}
}
.confirm_dialog_body{
  .dialog_mess{font-size: 18px; color: @tabcolor; text-align: center; 
     .span_icon{display: inline-block; padding:10px 0;}
     .icon_waring{background: url(../img/icon_warning.png) left center no-repeat; padding-left: 56px;}
     .icon_success{background: url(../img/icon_success.png) left center no-repeat; padding-left: 56px;}
  }
 

}

/*新增课件弹窗*/
.dialog_body_nopadding{
  .el-dialog__body{padding:0;}
}
.newCourseware_dialog{
  .el-dialog__body{padding:0;}
  .el-dialog__footer{padding:60px 0}
}
.dialog_pagination{
  .el-dialog__body{padding:0;}
  .tab-pagination{padding: 0px;}
  .pageTab{padding: 0 20px;}
  .list_box{padding: 0 20px; padding-top: 20px;}
}
.boxShadow{ 
  
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
}

/*管理员端新增实验*/
.el-input-duration{width:40%;}
.dis_tabel_cell{display: table-cell; vertical-align: middle;}

/*
.el-dialog{
  display: flex;
  flex-direction: column;
  margin:0 !important;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  height:600px;
  max-height:calc(100% - 30px);
  max-width:calc(100% - 30px);
}
.el-dialog .el-dialog__body{
  flex:1;
  overflow: auto;
}
*/


.admin_dialog_experlist th{background:@dialog_nav;}
.el-form .el-select .el-input__inner{border: 1px solid @border;}

.steps{
.el-form-item__content{padding-right:40px;}
}

/*信息提示宽度*/
.el-tooltip{outline: none;}
.quest_tooltip.el-tooltip__popper{max-width: 360px;}
.quest_tooltip.el-tooltip__popper.is-light{border:1px solid @border; font-size:16px; color: @selectline;}
  /*修改tooltip的箭头颜色*/
.quest_tooltip.el-tooltip__popper[x-placement^=top] .popper__arrow::after {
   
}
.quest_tooltip.el-tooltip__popper[x-placement^=top] .popper__arrow{
    border-top-color: @selectline !important;
}
/*图片预览*/
.el-image-viewer__btn.el-image-viewer__close {
  color: #FFF;
  opacity: unset;
  top: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  font-size: 50px;
}

.el-dialog{
 
  .borderRadius(5px,5px,5px,5px);
  .el-dialog__header{.borderRadius(5px,5px,0,0)}
}
.el-dialog__wrapper {
  text-align: center;
  white-space: nowrap;
  overflow: auto;
  &:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  .el-dialog {
    margin: 30px auto !important;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    white-space: normal;
  }
}

/*实验详情弹出的表格表头*/
.detail_table{th{
  background:@bgf0f0f0; color: @tabcolor;}
}
.report_detail_dialog{
  .el-dialog__body{background: #f3f4fa;}
}
/*实验操作界面*/
.equipment-body{background: #fff;}
.experiment_container .right_main{
  .el-scrollbar__wrap{overflow-x: hidden;}
}

/*三级分类样式*/
.el-cascader{width:80%}
.add_local_courseware{
  .el-form-item__label{font-size: 16px;}
  .el-cascader{font-size: 16px;}
}

.quill-editor{
  
  .ql-editor{
    height:500px;
  }
}

/*学生端我的作业答题*/
.answer-in{
  .el-textarea__inner{
    background: 0 none;
  }
}
/*实验报告弹窗*/
.setform{
  .el-select{
    .el-input__inner{border:1px solid @border}
    
  }
}

/*记录笔记弹窗*/
.dialog_record{
  .el-dialog__body{padding: 0 20px;}
}


/*头部全选去除*/
.el-table /deep/.disabledCheck .cell .el-checkbox__inner{
  display: none!important;
}
.el-table /deep/.disabledCheck .cell:before{
  content: '选择';
  position: absolute;
  right: 11px;
}


/*头部时间选择框*/
.pageTab{
  .pageTab_date {border: 1px solid @hnavcolor;}
}

.course_list .el-scrollbar__wrap{ overflow-x: hidden;}
@media screen and (max-width:1600px){
  .content_el-scrollbar{
    height:24%;
    .el-scrollbar__wrap{overflow-x: hidden;}
  }
}

@media screen and (max-width:1470px){
  .content_el-scrollbar{
    height:23%;
    .el-scrollbar__wrap{overflow-x: hidden;}
  }
}