.experiment_pagewrap{width:100%;height:100%; padding-top: 80px; position: relative; background: #fff; min-height: 700px;}
.e-header{
    height: 80px; position: absolute; left:0px;right:0px;top:0px;border-bottom: 1px solid #b3b3b3;
    .name{line-height: 80px;position: absolute;left:20px;font-size:18px; color:#666;
    max-width:500px;}
    .operationBox{
        height:80px; right:20px; position: absolute;top:0px;
        a{color:@basecolor; display:inline-block; vertical-align: middle; margin-left: 20px; margin-top: 20px;
          i{display: block; text-align: center; margin: 0 auto; height: 18px;}
          img{vertical-align: middle;}
          span{padding-top: 5px; display: block; text-align: center;}
        }
    }
}

.timeBox{text-align: center; font-size: 36px;color: @tabcolor; line-height: 80px;}

.experiment_container{
    width:100%;height: 100%;
    .left-noVNc{width: 70%; height: 100%; background: #F6F7F9; float: left; padding-top: 60px; position: relative;
      .l-nav{position: absolute;width:100%;left:0px;top:0px; background: #fff;line-height: 60px;
        span{line-height: 60px; display: inline-block;vertical-align:top;width:200px;background:#eee; font-size:18px;color: #333; text-align: center;}
      }
    
    }
    .nav{border-bottom: 1px solid #c1c1c1; text-align: center;
     a{display: inline-block;line-height: 60px; margin: 0 20px;}
    .active_index,a:hover{color: @basecolor;}
     }

    .right_main{width:30%;height: 100%; float: left;}

}

.step-ul{
    margin: 0 20px;
    li{border-bottom: 1px solid #c1c1c1; padding: 8px 0;}
    .pt{font-size: 14px;color:#000; padding-bottom:5px;}
    .ptext{font-size: 14px;color:#666;}
}

.labReport_box{
    padding: 20px 0;
    .from{margin:0 20px}
}