video{touch-action: none;}

@fontColor:#010101;
@fontColor1:#666666;
@fontColor2:#191616;
@basecolor:#006BFF;
@hnavcolor:#9b9b9b;
@tabcolor:#333;
@machbtncolor:#20DAB4;
@machcolor:#51C4AD;

@background: #F5F5F7;

@graycolor:#bcbcbc;
@linecoloe:#eaeaea;
.borderRadius(@param1,@param2,@param3,@param4){
    -webkit-border-radius:@param1 @param2 @param3 @param4;
    -moz-border-radius:@param1 @param2 @param3 @param4;
    -o-border-radius:@param1 @param2 @param3 @param4;
    border-radius:@param1 @param2 @param3 @param4;
}

.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}

.boxsizing{
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box; 
    -o-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box; 
}

//上下背景渐变
.gradient(@startColor,@endColor) {
  background: -webkit-gradient(linear, left top, left bottom, color-start(0.05, @startColor), color-stop(1, @endColor));
  background: -moz-linear-gradient(top, @startColor 5%, @endColor 100%);
  background: -o-linear-gradient(top, @startColor 5%, @endColor 100%);
  background: -ms-linear-gradient(top, @startColor 5%, @endColor 100%);
  background: linear-gradient(to bottom, @startColor 5%, @endColor 100%);
  background: -webkit-linear-gradient(top, @startColor 5%, @endColor 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@startColor', endColorstr='@endColor', GradientType=0);
}

.gradientlr(@startColor,@endColor) {
  background: -webkit-gradient(linear, left, right, color-start(0.05, @startColor), color-stop(1, @endColor));
  background: -moz-linear-gradient(left, @startColor 5%, @endColor 100%);
  background: -o-linear-gradient(left, @startColor 5%, @endColor 100%);
  background: -ms-linear-gradient(left, @startColor 5%, @endColor 100%);
  background: linear-gradient(to right, @startColor 5%, @endColor 100%);
  background: -webkit-linear-gradient(right, @startColor 5%, @endColor 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@startColor', endColorstr='@endColor', GradientType=0);
}

.container{width:1560px; margin: 0 auto;}

.pagewrap{width: 100%;height: 100%;;}
.pp_main{width:100%;height: 100%; padding-top: 75px;}

.pointer{cursor: pointer;}
@media screen and(max-width:1600px){
  .container{width:90%;} 
  .PP_header .container{width:100%; }
}

@media screen and(max-width:1200px){
  .pp_main{padding-top: 0px; height: auto;}
}