.tab-pagination{padding: 30px 0;}
.pageTab{
    padding-bottom:20px;
    .mess{
        font-size: 16px;color: @fontColor; padding-top:15px;
        span{color: @basecolor;}
        .nosubmit{width:24px;height:24px;display: inline-block; position: relative; vertical-align: middle;
        background: url(../img/icon_job.png) center no-repeat; cursor: pointer;}
    }
    .fl{
        padding-top: 20px;
       .sel-box{margin-right: 20px;display: inline-block; vertical-align: middle; font-size: 16px; width: 180px;}
    }
    .fr{
        .abtn{margin-right: 20px; margin-top: 20px; vertical-align: top;}
        .d-serach{width:280px;height:38px;border:1px solid @basecolor; display: inline-block; vertical-align: middle;.borderRadius(5px,5px,5px,5px);
        padding-right: 48px; padding-left: 20px; position: relative; margin-top: 20px;}
        input{background: 0 none; height: 38px;line-height: 38px; font-size:16px; width: 100%;}
        .searchBtn{width:38px;height: 38px;display: block; position: absolute;right:0px;top:0px;
        background: url(../img/icon_search.png) center no-repeat;}
        
    }
}
.tea_list{
    min-height: 580px;
    li{background:#fff; padding:15px 0;.borderRadius(5px,5px,5px,5px);font-size: 0px; margin-bottom: 20px;}
    li:last-child{margin-bottom: 0px;}
    li>div{font-size: 16px; color:@fontColor;}
    .d1,.d2,.d3,.d4,.d5{display: inline-block; vertical-align: middle;}
    .d20{width:20%}
    .d22{width:22%}
    .d30{width:30%}
    .d15{width:15%}
    .d13{width:13%}
    .d10{width:10%}
    .d28{width:28%}
    .d14{width:14%}
    .cell{margin: 0 15px; text-align: center;}
    .pnum{font-size:50px; color:@fontColor1;}
    .btn_py{.borderRadius(20px,20px,20px,20px)}
    .tab-pagination{padding: 30px 0;}
}

.course_container{
    .pageTab .fl .sel-box{width: 200px;}
}

.tablex_box{
    background:#fff;.borderRadius(5px,5px,5px,5px); overflow: hidden;
     .atab-btn{color:@basecolor;}
  }
  .list_box{background:0 none; overflow: hidden;
  .l_box{margin-left: -10px; margin-right: -10px; min-height:600px;}
 
  }
  .default_List{
      >li{width:16.666%;display: inline-block; margin-bottom: 20px;}
     .p_id{font-size: 18px;color:@tabcolor; text-align:center;}
     .d-icon{width:80px;height: 80px;background: url(../../assets/img/icon_vmachine.png) center no-repeat; margin: 0 auto 20px auto;}
     .btnbox{text-align: center; padding-top: 20px;}
     .info-box{background:#fff; margin: 0 10px; padding: 20px 0;.borderRadius(5px,5px,5px,5px);.box-shadow( 0px 3px 10px 0px rgba(0, 0, 0, 0.1));}
     .machbtn{
         background:@machbtncolor;width:120px; 
         span{background: url(../../assets/img/icon_play.png)left center no-repeat; padding-left:20px;}
     }
    .p_name{margin-top:3px;}
    .course_mana_btnbox{
        margin: 0 20px; height: 40px;.borderRadius(5px,5px,5px,5px); overflow: hidden;
        .btn{font-size:16px; color:#fff; width: 50%; display: inline-block; vertical-align: top; line-height: 40px;}
        .btn-see{background:@machbtncolor;}
        .btn-see span{background: url(../img/icon_see.png) left center no-repeat; padding-left:25px;}
        .btn-end{background:@machcolor;}
        .btn-end span{background: url(../img/icon_end.png) left center no-repeat; padding-left:22px;}
    } 
    
  }

  //课程样式
  .courseList_ul{
    >li{padding:20px;background:#fff;.borderRadius(5px,5px,5px,5px); position: relative;}
    .pic{width:300px;height:180px;background: @basecolor;.borderRadius(5px,5px,5px,5px); overflow: hidden;
    position: absolute;left:20px;top:20px}
    .pic img{width:100%;height:100%;}
    .course-info{height: 180px; padding-left: 320px; font-size: 0px; }
    .info_box{padding-top:36px}
    .cell-info{width:80%;padding-left: 30px; display: inline-block; vertical-align: middle;font-size: 16px; color: @hnavcolor;}
    .cell-fun{width:20%;padding-left: 20px;display: inline-block; vertical-align: middle; text-align: center;}
    
    .btn-fun{.borderRadius(20px,20px,20px,20px)}
    .p-name{font-size: 20px;color: @fontColor; margin-bottom:30px; line-height: 24px;}
    .p-text{padding-bottom:5px; line-height: 24px;}
    .data-box{
        font-size:14px; color:#bcbcbc; padding-top: 15px;
        span{padding-right: 40px;}
        .s-time{background: url(../img/icon_time.png) left center no-repeat; padding-left: 22px;}
        .s-number{background: url(../img/icon_number.png) left center no-repeat; padding-left: 22px;}
    }
  }

  /*备课管理*/
  .lp_courseList_ul{
    .p-name{margin-bottom:10px;}
    .info_box{padding-top: 29px;}
  } 
 

/*备课课程详情*/
.detail_main{

    .pageTab{
        .mess{font-size: 18px;color:@hnavcolor;
           span{color: @fontColor;}
        }
        a:hover{color:@basecolor;}

    }
    
    .top_info{padding-bottom:30px; position: relative;
        .c_pic{width:600px;height: 360px; position: absolute; left:0px;top:0px}
        .c_pic img{width: 100%;height:100%;}
        .c_info{margin-left: 630px; height: 360px;}
        .right_info{display: table;width:100%;height: 100%;}
        .r_name{color: @fontColor; font-size: 30px; margin-bottom: 10px;}
        .d-cel{font-size: 18px;color:@hnavcolor;text-align: justify;margin: 5px 0;word-break: break-all;}
        .line{width:100%;height:2px;background: #eaeaea;margin: 30px 0;}
        .btnbox{text-align: center; padding-top: 20px;}
        .btn-course{width:150px;height:50px;line-height: 50px;}
        .info_detail_box{width:100%;height:100%;}
    }

    .container_info{
        background:#fff;padding:50px 0 30px 0; .borderRadius(15px,15px,15px,15px);
        .info_box{margin: 0 50px;}
        .detail_nav{
            background:#f5f5f7;padding:3px;
            a{line-height:48px; width:198px; display: inline-block; vertical-align: top; text-align: center; cursor: pointer;
               .borderRadius(5px,5px,5px,5px)
            }
            a:hover{color:@basecolor;}
            a.cur{background:#fff;color: @basecolor;}
        }
    }
    
    /*添加按钮样式*/
    .add-btn-box{padding: 20px 0; text-align: center;}
    .add-btn{width:auto;padding:0 50px}

     

    /*开课时间*/
    .courseTime_box{
        height:280px;background:@background; margin-top: 30px; 
        .time_table{display: table;width:100%;height:100%}
        .btnbox{text-align: center; padding-top: 30px;}
        .din{text-align: center; padding: 10px 0;}
    }

    
    
}

.unSubmitList{
    .d-col{margin:8px 20px; border: 1px solid #9b9b9b; padding: 10px 0;.borderRadius(5px,5px,5px,5px);font-size: 16px;}
    .d-sno{width:48%;display:inline-block;text-align: center;}
    .d-name{width:48%;display:inline-block;text-align: center;}
}


  @media screen and (max-width:1470px){
      .default_List{
           >li{width:20%} 
          .p_id{font-size: 16px;}
      }

      .courseList_ul{
          .pic{width:240px;height: 144px;}
          .course-info{height: 144px;}
          .course-info{padding-left:270px;}
          .info_box{padding-top: 18px;}
      }

      .lp_courseList_ul{
        .info_box{padding-top: 11px;}
      }

      //课程详情
      .detail_main{

        .top_info{
            .c_pic{width:520px;height: 312px;}
            .c_info{margin-left: 550px; height:312px;}
            .r_name{font-size: 22px;}
            .d-cel{font-size: 16px;}
            .line{margin: 20px 0;}
        }

        .container_info{
            .detail_nav{
                a{width:150px}
            }
        }
        
       
     }
  

  }
  .pageTab_date{
    margin-right: 20px;
}

  
